model: 'fpn_cov1d' #

device: 'cuda:1' # 'cpu' 'cuda:0'
n_batch: 3000
n_epoch: 2000
n_kfolds: 5
noise_level: 0.0
drop_rate: 0.0
# fnn setting
max_n_rules: 50
n_rules: 50
lr: 0.001

#bnn parameter
inference: 'nuts' # 'nuts' 'svi' 'hmc'
n_samples: 100
warmup: 50
step_size: 0.001
num_steps: 40
# svi parameter
lr_svi: 0.01
n_epoch_svi: 200

dataset_folder: 'esr' # each kind of dataset has a same prefix name, dataset is the prefix
dataset_list:
  ['esr']

#logger
log_to_file: 'true' # 'false' 'true'